@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}


/* paleta de cores */
body {
    background-color: #FFFFFF;
}

.botao-superior {
    color: #A9A9A9;
    background-color: #FFFFFF;
    border-radius: 25px;
    border-color: #A9A9A9;
    border-style: solid;
    padding: 10px;
    width: 150px;
    border-width: 1px;
    font-size: small;
}

.botao-superior:hover {
    background-color: #b8b8b82a;
    transition-duration: 0.5s;
}

.botao-principal {
    background-color: #ffe033;
    margin-top: 30px;
    width: 250px;
    border-width: 0px;
    color: #242424;
    border-radius: 25px;
    padding: 10px;
    font-weight: 400;
}

.botao-principal:hover {
    background-color: #f8e965;
    transition-duration: 0.4s;
    box-shadow: 0px 3px 7px #3f3f3f;
}

.fonte-principal {
    color: #242424;
}

.fonte-secundaria {
    color: #7C7C7C;
}


.logo-c6-principal {
    height: 24px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 55px;
    padding-right: 55px;

}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 200px;
    padding-right: 200px;
}

.texto {
    text-align: left;
    width: 550px;
    font-weight: 100;
    padding-bottom: 20px;
    padding-top: 25px;
}

.imagem-principal {
    padding-right: 20px;
    padding-top: 20px;
    height: 85%;
}

.texto-secundario {
    padding-top: 20px;
}